html, body{
    height: 100%;
    margin: 0;
}
html {
    background-color: #2868ff;
}
.container{
    min-height: 100vh;
}
main {
    background-color: #2877ff;
    width: 75vw;
    margin-left: 25vw;
}