html, body{
    height: 100%;
    margin: 0;
    line-height: 1.2;
    font-size: 1.6rem;
}
html {
    background-color: #ff2830;
    overflow-y: hidden;
    overflow-y: scroll;
}
.container{
    position: absolute;
    left: 22.7vw;
    right: 0.7vw;
    top: 0.7vw;
    bottom: 0.7vw;
    background-color: white;
    min-height: 100vh;
    padding-left: 4em;
    padding-top: 3em;
}
h1, h2, h3, h4, h5, h6 {
    color: #ff2830;
} 
main {
    padding: 0;
}
@media screen and (min-width: 992px){
    .right-section[data-v-7fccc88e] {
        padding: 1.5rem;
    }
}